.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #f8dada;
    padding: 1rem 2rem;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 18px;
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 15px;
  }
  