<div class="container">
    <h2>Recettes récents</h2>
    <div class="filters">
        <input type="text" placeholder="Rechercher par titre ..."[(ngModel)]="searchTerm"(input)="filterPosts()"/>
        <select [(ngModel)]="selectedCategory" (change)="filterPosts()">
            <option value="">Toutes les catégories</option>
            <option *ngFor="let category of categories">{{category}}</option>
        </select>
    </div>
<div class="post-cards">
    <div *ngFor="let post of filteredPosts" class="post-cards">
        <img [src]="post.images" alt="post images">
    
    <h3>{{post.title}}</h3>

    <p>{{post.content | slice:0:100}}...</p>

    <small>Catégorie : {{ post.category }}</small><br />

    <a [routerLink]="['/posts', post.id]">Lire plus</a>

</div>

</div>


</div>

