<div class="banner">
    <img src="images/bann.jpg" alt="Banner" />
    <div class="banner-text">
      <h2>FlavorShare:</h2>
      <p>“Délices à partager, saveurs à découvrir – bienvenue dans votre communauté gourmande !!”</p>
    </div>
  </div>
  
  <div class="categories">
    <span>Salades</span>
    <span>Desserts</span>
    <span>Gâteaux</span>
    <span>Pâtes</span>
  </div>
  
  <div class="recipes">
    <div class="card">
      <img src="images/pasta.jpg" />
      <h3>Pâtes Bolognaise:</h3>
      <p>Cliquer pour Plus Détails ..</p>
    </div>
    <div class="card">
      <img src="images/cake.jpg" />
      <h3>Gâteau Fraises</h3>
      <p>Cliquer pour Plus Détails ..</p>
    </div>
    <div class="card">
      <img src="images/dessert.jpg" />
      <h3>Dessert</h3>
      <p>Cliquer pour Plus Détails ..</p>
    </div>
    <div class="card">
      <img src="images/Salad.jpg" />
      <h3>Bow Tie Pasta Salad:</h3>
      <p>Cliquer pour Plus Détails ..</p>
    </div>
  </div>
  